Package: hadoop-hdfs-journalnode
Source: hadoop
Version: 3.0.0+cdh6.3.2-1605554
Architecture: all
Maintainer: vRNI, VMware, Inc. <https://www.vmware.com/support>
Installed-Size: 23
Depends: hadoop-hdfs (= 3.0.0+cdh6.3.2-1605554)
Provides: hadoop-hdfs-journalnode
Section: misc
Priority: extra
Homepage: http://hadoop.apache.org/core/
Description: Hadoop HDFS JournalNode
 The HDFS JournalNode is responsible for persisting NameNode edit logs.
 In a typical deployment the JournalNode daemon runs on at least three
 separate machines in the cluster.
 .
 .
 Built by vRNI, VMware, Inc.
