Package: hadoop-yarn-proxyserver
Source: hadoop
Version: 3.0.0+cdh6.3.2-1605554
Architecture: all
Maintainer: vRNI, VMware, Inc. <https://www.vmware.com/support>
Installed-Size: 22
Depends: hadoop-yarn (= 3.0.0+cdh6.3.2-1605554)
Section: misc
Priority: extra
Homepage: http://hadoop.apache.org/core/
Description: Web proxy for YARN
 The web proxy server sits in front of the YARN application master web UI.
 .
 .
 Built by vRNI, VMware, Inc.
